@{
    ViewBag.Title = "Home Page";
}

<main>
    
        <h1 id="title">EPM</h1>
        <p class="lead">Bienvenido a nuestro sistema epm, el cual le ayudara a calcular el valor a pagar de su factura y diversos datos.</p>
       
</main>